.container
	position: relative
	max-width: 100%
	margin-right: auto
	margin-left: auto

.row
	@include grid-container

.img-fluid
	max-width: 100%
	height: auto

.col-3
	@include grid-column(4, $neat)
	@include grid-visual
