<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

	<% if (webpackConfig.htmlElements.headTags) { %>
	<%= webpackConfig.htmlElements.headTags %>
	<% } %>

	<base href="<%= htmlWebpackPlugin.options.baseUrl %>">

</head>
<body>
	<app-root></app-root>
</body>
</html>
